body{
	font-family: 'Roboto Slab', serif;
	margin:0 auto;
	width:960px;
}
h1{
	font-family: 'Roboto Slab', serif;
}
h1,h2,h3{
	color:brown;
}

.footsy{
	clear: both;
}

.centered {  
 text-align:center;
 left: 50%;
}

ul.blogs{
	list-style-image:url("img/blogBullet.gif");
	line-height:3;
}

a:link,a:visited{
	text-decoration:none;
	color:brown;
	font-weight:bold;
}
a:hover{
	color:black
}
nav ul{
	display:inline;
	list-style-type:none;
	padding:0;
}
nav li{
	display:inline;
	float:left;
}

nav ol{
	display:inline;
}

nav a:link,nav a:visited{
	background-color:brown;
	color:white;
	display:block;
	width:160px;
	text-align:center;
	padding:10px 0;
}
nav a:hover{
	background-color:black;
}
aside{
	width:400px;
	font-size:19px;
	text-align:center;
	font-family:josefin-slab;
	float:right;
	background-color:darksalmon;
	font-weight:bold;
	padding:0px;
	margin-left:20px;
}

aside right{
	float:left;
}

.photo-left{
	float:left;
	margin-right:20px;
}
.photo-right{
	float:right;
	margin-left:20px;
}
.photo-center{
	float:center;
	margin-left:20px;
	margin-right:20px;
	text-align:center;
}
header{
	background-image:url("img/bojack.jpg");
	height:110px;
	margin-bottom:20px;
}
header h1{
	color:rgba(256,256,256,.8);
	margin-left:30px;
	margin-top:30px;
	font-size:50px;
}
footer{
	margin:40px 0;
}

footer nav a:link, footer nav a:visited{
	background-color:white;
	color:gray;
	display:block;
	width:160px;
	text-align:center;
	padding:10px 0;
}
footer nav a:hover{
	color:black;
}
td, th{
	border:1px solid black;
	width:20%;
	text-align:center;
	paddin:5px;
}
table{
	border-collapse:collapse;
}

.formy {
    position: relative; 
	opacity: 0.999;
}

.formy::before{    
      content: "";
      background-image: url('img/coffee-cup.png');
      background-repeat: repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.1;
}

fieldset{
	opacity:0.999;
}
video{
	margin-bottom:25px;
	margin-left:160px;
	-moz-filter:grayscale(100%);
	filter:grayscale(10%);
}

div {
	text-align:center;
}

table caption{
	font-size:24px;
	font-weight:bold;
}

ul.no-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.date {
	font-size:10px;
}
.comment{
	display: flex;
	flex-wrap: wrap;
	border:1px solid red;
	padding: 20px;
	border-radius: 5px;
	margin-top:10px;
	margin-bottom:10px;
	width:300px
}
div.comment.user_comments{
	flex-wrap: wrap;
	flex-direction: row;
	margin-left:5px;	
	background-color:lightsalmon;
}

div.my_comments{
	float:right;
	flex-direction: row-reverse;
	text-align:right;
	margin-right:5px;
	background-color:darksalmon;
}

div.comment_msg{
	order: 1;
	flex: 1 0 100%;
}

div.comment_cont{
	margin:3px;
}

h4.pic_title{
	margin-top:0px;
}

.skill-table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.7em;
    font-family: sans-serif;
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.skill-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.skill-table th {
    background-color:#0CB24E;
    color: #000000;
	font-style:bold;
}

.skill-table th, .skill-table td {
    padding: 12px 15px;
}

